.section {
  max-width: 1248px;
  margin: 0 auto;
  padding: 0 48px 40px;
  font-family: "Averta PE", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: normal;
  color: #031d30;
}

.heading {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  letter-spacing: -0.6px;
  line-height: 1.3;
  margin: 0 0 24px;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 32px;
}

.introColumn {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.intro {
  color: rgb(117, 128, 143);
  font-size: 24px;
  line-height: 1.4;
  margin: 0 0 32px;
}

.bioColumn {
  display: flex;
  flex-direction: column;
}

.bioText {
  max-height: 220px;
  margin-bottom: 32px;
  overflow: hidden;
  position: relative;
}

.bioTextExpanded {
  max-height: none;
}

.bioParagraph {
  font-size: 16px;
  line-height: 32px;
  margin: 0 0 32px;
}

.bioParagraph:last-child {
  margin-bottom: 0;
}

.contactCta,
.contactCtaMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(2, 116, 232);
  border: 1px solid rgb(2, 116, 232);
  border-radius: 2px;
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 12px 40px;
  width: 100%;
  text-decoration: none;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.contactCta:hover,
.contactCtaMobile:hover {
  opacity: 0.85;
}

.contactCtaMobile {
  margin-top: 24px;
}

.readMoreButton {
  align-items: center;
  display: flex;
  width: 100%;
  border: none;
  border-top: 1px solid rgb(117, 128, 143);
  background: transparent;
  cursor: pointer;
  padding: 16px 0 0;
  position: relative;
  text-align: center;
}

.readMoreLabel {
  color: rgb(117, 128, 143);
  font-size: 16px;
  line-height: 24px;
  margin-right: 8px;
  min-width: 84px;
  text-align: center;
}

.readMoreIcon {
  color: rgb(117, 128, 143);
  cursor: pointer;
  display: flex;
  fill: rgb(117, 128, 143);
  font-size: 18px;
  margin-left: auto;
  text-align: center;
}

@media (min-width: 1024px) {
  .section {
    padding: 0 48px 40px;
  }

  .heading {
    font-size: 44px;
    letter-spacing: -0.88px;
    line-height: 60px;
    margin-bottom: 32px;
  }

  .layout {
    flex-direction: row;
    gap: 40px;
  }

  .introColumn {
    flex: 4;
    justify-content: space-between;
    max-height: 725px;
  }

  .intro {
    font-size: 36px;
    line-height: 44px;
  }

  .contactCta {
    margin-top: auto;
  }

  .bioColumn {
    flex: 7;
  }

  .bioText {
    max-height: 672px;
  }

  .contactCtaMobile {
    display: none;
  }
}
